.vs
/packages
/SSS.Database/ShoolSchedule.Database.dbmdl

SSS\.DataLayer/obj/Debug/SchoolSchedule\.DataLayer\.pdb

SSS\.DataLayer/obj/Debug/SSS\.DataLayer\.csproj\.CoreCompileInputs\.cache

*.dll

SSS\.DataLayer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3\.cs
obj
