
<h2> Your Profile Information</h2>
<div class="container">
   <table class="table table-striped">
       <tr>
           <td>
               Name
           </td>
           <td>
               {{profile.firstName}} {{profile.lastName}}
           </td>
       </tr>
       <tr>
           <td>
               Email
           </td>
           <td>
               {{profile.email}}
           </td>
       </tr>
       <tr>
           <td>
               Address
           </td>
           <td>
               {{profile.address}}
           </td>
       </tr>
       <tr>
           <td>
               Cellphone
           </td>
           <td>
               {{profile.cellphone}}
           </td>
       </tr>
       <tr>
           <td>
               Phone (Home)
           </td>
           <td>
               {{profile.homePhone}}
           </td>
       </tr>
       <tr>
           <td>
               Current semester
           </td>
           <td>
               {{profile.currentSemester}}
           </td>
       </tr>
     
        <tr>
           
       </tr>
   </table>
    <div class="form-group">
        <div class="col-md-12">
            <a href="#!EditUser" class="btn btn-secondary" role="button">Edit</a>

        </div>
    </div>
</div>